/** Stylus Styles */

@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $red.darken-4
  accent: $deep-orange.accent-2
  secondary: $grey.darken-4
  info: $amber.darken-3
  warning: $amber.base
  error: $red.base
  success: $green.darken-3
}

@import '../../node_modules/vuetify/src/stylus/main'
@import url('https://fonts.googleapis.com/css?family=Hanalei')